<template>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 from-group">
                    <full-name-vue v-model="fullname"></full-name-vue>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 from-group">
                     <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input  type="text"
                                id="firstName"
                                class="form-control"
                                v-model="firstName" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 from-group">
                     <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input  type="text"
                                id="lastName"
                                class="form-control"
                                v-model="lastName" >
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 from-group">
                     <div class="form-group">
                        <label for="email">Mail</label>
                        <input
                                type="text"
                                id="email"
                                class="form-control"
                                v-model="email" 
                                >
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
                    <label for="storeData">Store Data : </label>
                    <label for="storeYes">
                        <input
                                type="radio"
                                id="storeYes"
                                value="Yes"
                                v-model="isStoreInDB"> Yes
                    </label>
                    <label for="storeNo">
                        <input
                                type="radio"
                                id="storeNo"
                                value="No"
                                v-model="isStoreInDB"> No
                    </label>
                </div>
            </div>

            <div class="row" >
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <!-- Exercise 1 -->
                    <!-- Create a Signup Form where you retrieve the following Information -->
                    <!-- Full Name (First Name + Last Name) -->
                    <!-- Mail -->
                    <!-- Password -->
                    <!-- Store Data? Yes/No -->

                    <!-- Exercise 2 -->
                    <!-- Only display the Form if it has NOT been submitted -->
                    <!-- Display the Data Summary ONCE the Form HAS been submitted -->

                    <!-- Exercise 3 -->
                    <!-- Edit the Example from above and create a custom "Full Name" Control -->
                    <!-- which still holds the First Name and Last Name Input Field -->
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        <button
                            class="btn btn-primary"
                            @click.prevent="submitted">Submit!
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="row" v-if="isSubmitting">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Full Name: {{ fullname }}</p>
                        <p>Mail: {{ email }}</p>
                        <p>Password: {{ password }}</p>
                        <p>Store in Database?: {{ isStoreInDB }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FullNameVue from './FullName.vue';
    export default {
        data() {
            return {
                fullname: '',
                firstName: '',
                lastName: '',
                email: '',
                password: '',
                isStoreInDB: 'Yes',
                isSubmitting: false
            }
        },
        methods: {
            submitted() {
                this.isSubmitting = true;
            }
        },
        components: {
            FullNameVue
        }
    }
</script>

<style>
</style>
