<template>
  <div> 
    <div class="form-inline" >
        <label for="firstName">Full Name</label>
        <input type="text" id="firstName" v-model="firstName" class="form-control" @keyup="fullnameUpdate">
        <input type="text" id="lastName" v-model="lastName" class="form-control" @keyup="fullnameUpdate">
    </div> 
         
  </div>
</template>

<script>
export default {
  data() {
    return {
      firstName: "",
      lastName: ""
    };
  },
  methods: {
    fullnameUpdate() {
      console.log(this.firstName, this.lastName);
      this.$emit("input", this.firstName + " " + this.lastName);
    }
  }
};
</script>